:root{
    --main-brand-colour: #D4ACA3;
    --secondary-brand-colour: #88746b;
}

body{
    margin:0;      
    font-family:'Comfortaa', sans-serif;
  }
  
  a{
    text-decoration:none;
    color:inherit;
  }
  
  h2{
    font-size:24px;
    font-weight:300;
  }
  
  header{
    min-height:20px;
    width:100%;
  }

  .breadcrumb{
    padding: 0 60px 30px;
    color: var(--secondary-brand-colour);
  }
  
  .footer_grid{
    justify-content: space-between;
    padding: 0 60px;
  }

  .top_banner{
      background:var(--main-brand-colour);
      padding: 15px;
      color:white;
      text-align:center;
  }
  
  input[type="email"]{
    border:none;
    padding:10px;
    width:100%;
    font-family: 'Comfortaa';
  }

  input[type="email"] + button{
    white-space: nowrap;     
  }
  
  .hero{
    height:80vh;
    background-image:url('../img/baby.jpg');
    background-size:cover;
    background-position:center;
  }
  
  .logo{
    background:white; 
    display:flex;
    align-items:center;
    padding: 0 60px;
    justify-content: space-between;
  }
  
  .logo > a{
    display: flex;
    align-items: center;
    justify-content: center;
    height:200px;
    overflow:hidden;
    font-size: 4vw;
    font-weight: 300;
    color:var(--secondary-brand-colour);
  }
  
  .logo img{
    height:200px; 
  }
  
  .logo span{
    font-size: 85px;
    font-weight: 300;
    color: var(--main-brand-colour); 
  }
  
  header ul{
    padding: 0;
    list-style:none;
    display:flex;
    align-items:center;
    gap:20px;
  }

  .checkout_btn{
      cursor:pointer;
  }
  .checkout_btn:hover{
    text-decoration:underline;
  }
  
  nav{
     background:white; 
  }
  
  nav ul{                   
    justify-content:center;
    gap: 30px; 
      margin: 0;
  }        
  
  nav ul li:not(:last-of-type){
    opacity:0.7;
    color:var(--secondary-brand-colour); 
    font-size:20px!important;
  }

  nav ul li.active,  nav ul li:hover{
    opacity:1;
  }
  
  .divider{
    padding:30px 0;
    text-align:center;
    font-size:24px;
    color:var(--secondary-brand-colour);
    margin-top: 30px;
  }

  .divider.left{
     text-align:left;     
  }

.divider.right{
     text-align:right;     
  }
      
  .grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:30px;
      padding: 0 60px;
  }
  
  .grid > a{
    height: 600px;
    background-size:cover;
    background-position:center;
    position: relative;
    overflow: hidden;
    width:100%;
    display:flex;
    align-items:center;
  }
  
  .grid > a .text{
    box-sizing:border-box;
    width:100%;
    text-align:center;
    padding:20px; 
    font-size:48px;
    color:white;
    position: absolute;
  }
 
  .grid img, .new_grid img{
    transition: transform 0.6s, opacity 0.6s;
      opacity:1;
      transform:scale(1);
  }

  .grid a:hover img, .new_grid a:hover img{
      transform:scale(1.05);
      opacity: 0.9;
  }

  .new_section{
    background: #F2E6E4;
    margin: 60px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-brand-colour);
    font-weight: 400;
    padding: 60px;
  }

  .new_grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap: 60px;
    padding: 0 60px;
  }

  .wrapper{
    padding: 0;
    aspect-ratio: 1/1;
    overflow: hidden;      
  }

  .product_price{
    display: block;
    margin-top: 10px;
    font-weight: 300;
    font-size: 20px;   
  }

  .new_grid > div div:not(.img), .new_grid > a div:not(.img){
    padding-top: 30px;
    text-align:center;
  }
  
  .description{
    text-align:left!important;
    padding:30px 30px 60px;
    font-size:18px;
    line-height:1.5;
    max-width:80ch;
  }  
  
  footer{
    margin-top:60px;
    width:100%;
    background:var(--secondary-brand-colour);
  }
  
  .footer_grid{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:30px;
    color:white;
    margin: auto;
  }
  
  .footer_grid ul{
    font-size: 18px;
    margin:0;
    list-style:none;
    padding:0;
  }
  
  .footer_grid ul li{
    padding: 0 0 5px;
  }
  
  .footer_grid > div:not(:nth-of-type(2)){
    padding: 30px 60px; 
  }
  
  .footer_grid > div:nth-of-type(2){
    padding: 30px 0; 
  }
  
  .social{
    font-size: 24px;
  }
  
  button{
    background: var(--main-brand-colour);
    border: none;
    color: white;
    font-family: 'Comfortaa';
    padding: 10px 20px;
    margin-left: auto;
  }
  
  span.price {
    padding-top: 30px;
    display: block;
    color: var(--secondary-brand-colour);
  }
  
  @media screen and (max-width:1440px){
    .grid, .new_grid, .footer_grid{
       grid-template-columns:1fr 1fr;
    }
      
    .top_banner{
      font-size: 14px;   
    }
      
      .new_grid img{
          aspect-ratio: 2/1!important;
      }
      
      span.price {
        padding-top: 10px;
      }
      
      .wrapper{ 
       aspect-ratio:auto;   
      }
  }
  
  @media screen and (max-width:1024px){
    .grid, .new_grid, .footer_grid{
        grid-template-columns:1fr;
    }
      
      nav {
       display:none;   
      }
      
      .top_banner{
          font-size: 14px;
      }
      
      .logo{
          justify-content: center;
      }
      
      .new_grid img{
          aspect-ratio: 2/1!important;
      }
      
      .new_grid > a div:not(.img){
       font-size: 24px;  
      }
      
      .grid > a{
       height:300px;   
      }
      
      .grid > a .text {
        font-size: 8vw;
      }
      
      #product_page{
       grid-template-columns:1fr!important;   
      }
      
      #product_page div:last-of-type{
       order: -1;   
       text-align:center;
      }
      
      #product_page div:last-of-type h2{
       padding-left:0!important;   
      }
      
      #product_page .description{
       text-align:center!important;   
      }
      
      #product_page .description + div{
       padding-top:0!important;   
      }
      
      #product_page .description + div, #product_page .description + div div{
       margin: auto!important;   
       padding-left:0!important;
      }
      
      #choose_style{
       text-align:center!important;   
      }
      
      .empty{
        display:none;
      }
      
      .footer_grid{
        text-align:center;   
      }
      
      .footer_grid > div:nth-of-type(1){
        padding:30px 0 0;   
      }
      .footer_grid > div:nth-of-type(2){
        padding:0;   
      }
      .footer_grid > div:nth-of-type(3){
        padding:0 0 30px;   
      }
      
      .breadcrumb{
        padding: 0 0 30px;
        text-align: center;   
      }
      
      span.price {
        padding-top: 10px;
      }
      
      tr{
       display: flex;
       flex-direction: column;   
      }
      
      .logo > a{
        font-size: 10vw;
        }
      
      .logo {
        padding: 0;
      }
    }